<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div ng-class="{hideme: $root.identita.type!='none'}" class="centredBox">
        <h4 class="headText">Who are you?</h4>
        <ul class="buttonList">
            <li>
                <button ng-click="createServer()">Server</button>
            </li>
            <li>
                <button ng-click="createGamer()">Gamer</button>
            </li>
        </ul>
    </div>
    <div ng-class="{hideme: $root.identita.type=='none' || showServers==true}" class="centredBox">
        <img ng-src="{{$root.identita.img}}">
        <h4 class="headText">Choose your {{$root.identita.type}} name</h4>
        <input type="text" class="name" ng-model="$root.identita.name" ng-change="checkName()" ng-class="{wrong: notValidName==true || $root.identita.name.length==0}"/>

        <h4 ng-class="{hideme: $root.identita.type!='server'}" class="headText">and password <input type="checkbox" ng-init="havePassword=false" ng-model="havePassword"> </h4>
        <input  type="text" class="name" ng-model="$root.identita.pass" ng-class="{wrong : $root.identita.pass.length==0, hideme: $root.identita.type!='server' || havePassword==false}"/>

        <h4 class="headText">Color: </h4>
        <div style="display: block">
            <div class="color" ng-repeat="c in $root.idColors" ng-class="{selected: $index==$root.identita.color}" ng-style="{'background': c}" ng-click="$root.identita.color=$index"></div>
        </div>
        <div style="display: block" ng-if="$root.identita.type=='gamer'" ng-init="$root.identita.avatar=1">
            <div class="avatar" ng-repeat="a in $root.avatarList" ng-class="{selected: $index+1==$root.identita.avatar}" ng-click="$root.identita.avatar=$index+1">
                <img  ng-src="img/avatars/{{a}}" >
            </div>
        <a style="position: absolute;    bottom: 0;    margin: auto;    margin-left: -77px;" href="http://www.freepik.com/free-vector/different-user-avatars-set_850131.htm">Designed by Freepik</a>
        </div>
        <ul class="buttonList acceptCancel">
            <li>
                <button ng-click="$root.identita.type='none'">x</button>
            </li>
            <li>
                <button type="submit" ng-click="writeData()" ng-disabled="notValidName||$root.identita.name.length==0" ng-class="{wrong: notValidName==true || $root.identita.name.length==0}">v</button>
            </li>
        </ul>
        <h4 class="wrong" ng-class="{show: notValidName==true}">This name is used from another {{$root.identita.type}} yet</h4>
    </div>

    <div ng-class="{hideme: showServers==false}" class="centredBox">
        <h2 class="headText">Choose a server</h2>
        <ul ng-init="showModalPass=-1">
            <li class="serverList" ng-repeat="(sid,sn) in serverNames" ng-style="{'background':sn.color}"  ng-click="checkHasPassowrd(sid)">
                    <img ng-src="{{$root.serverImg}}" class="imgInServerList">
                    <img ng-if="sn.pass!=null" src="img/lock.png" class="lock" >
                    <br>{{sn.name}}
            </li>
        </ul>
        <div ng-class="{hideme: showModalPass<0}" class="centredBox modalPass" ng-style="{'background':serverNames[showModalPass].color}">
            <div class="x" ng-click="showModalPass=-1">x</div>
                <h3>You have choosen {{serverNames[showModalPass].name}}</h3>
                <div ng-if="serverNames[showModalPass].pass!=null">
                    <input type="text" class="passwordInModal" ng-model="myPassword" > <button class="submitPasswordInModal" ng-click="isMyPasswordOk(showModalPass,myPassword)">ok</button>
                </div>
                <div ng-if="serverNames[showModalPass].pass==null">
                    <img src="img/google_dino.gif" class="loader">
                </div>
        </div>
    </div>
</body>
