<head>
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
<div class="centredBox">
    <h1 class="headText">Name: {{$root.identita.name}}</h1>
    <h1 ng-if="$root.identita.pass!=''" class="headText">Password: {{$root.identita.pass}}</h1>
    <h2 ng-class="{hideme: players==null}" class="headText">Players:</h2>
    <h2 ng-class="{hideme: players!=null}" class="headText">It seems there are no players</h2>
    <h3>{{thereIsAMaster}}</h3>
    <ul>
        <li class="serverList" ng-repeat="(pid,p) in players" ng-style="{'background':p.color}" >
            <img ng-src="img/avatars/{{p.avatar}}.png" class="imgInServerList">
            <br>{{p.name}}
            <span ng-if="p.isMaster==true"><br>is the master of the Game</span>
        </li>
    </ul>
</div>
</body>